@font-face {
    font-family: 'Segoe UI';
    src: url('font/subset-SegoeUI-BoldItalic.eot');
    src: url('font/subset-SegoeUI-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('font/subset-SegoeUI-BoldItalic.woff2') format('woff2'),
        url('font/subset-SegoeUI-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('font/subset-SegoeUI-Bold.eot');
    src: url('font/subset-SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
        url('font/subset-SegoeUI-Bold.woff2') format('woff2'),
        url('font/subset-SegoeUI-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('font/subset-SegoeUI.eot');
    src: url('font/subset-SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('font/subset-SegoeUI.woff2') format('woff2'),
        url('font/subset-SegoeUI.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('font/subset-SegoeUI-Italic.eot');
    src: url('font/subset-SegoeUI-Italic.eot?#iefix') format('embedded-opentype'),
        url('font/subset-SegoeUI-Italic.woff2') format('woff2'),
        url('font/subset-SegoeUI-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

